@import '../../styles//base';

.container {
  @include directionY;
  overflow-x: hidden;
  @include body;
  .wrapper {
    @include directionY;
    align-items: center;
    .jumbotron {
      margin-top: 13%;
      width: 40%;
    }
    .mainTitle {
      width: 24%;
      margin-top: 2%;
      padding: 1%;
      font-weight: bold;
      text-align: center;
      border-radius: 180px;
      color: $color-ultra-white;
      background-color: $color-protanomali;
    }
    .body {
      width: 100%;
      @include directionY;
      margin: 5% 0;
      .biodataWrapper {
        width: 90%;
        @include content-center;
        background-color: $color-protanomali;
        border-radius: 20px;
        .title {
          color: $color-ultra-white;
          text-align: center;
          font-weight: bold;
          font-size: 18px;
          padding-top: 2%;
        }
        .wrapper {
          width: 90%;
          @include content-center;
          @include directionX;
          .biodata {
            width: 50%;
            margin-bottom: 3%;
            .label {
              color: $color-ultra-white;
              margin-bottom: 2px;
              font-weight: bold;
              font-size: 14px;
            }
            .name {
              background-color: $color-grey;
              border: 1px solid $color-protanomali;
              margin-bottom: 15px;
              padding: 1% 2%;
              font-size: 12px;
              border-radius: 5px;
              min-height: 32px;
            }
          }
          .document {
            width: 50%;
            .wrapper {
              @include directionY;
              width: 80%;
              .statusTitle {
                color: $color-ultra-white;
                font-weight: bold;
              }
              .img {
                max-width: 50%;
                padding: 3% 0;
              }
              .status {
                text-align: center;
                width: 45%;
                padding: 1% 0;
                background-color: $color-protanomali-overlay;
                border-radius: 10px;
                color: $color-ultra-white;
              }
              .sertification {
                color: $color-ultra-white;
                text-align: center;
                width: 45%;
                padding: 1% 0;
                background-color: $color-protanomali-overlay;
                border-radius: 10px;
              }
            }
          }
        }
      }
      .btnUpload {
        @include directionY;
        @include content-center;
        text-align: center;
        width: 20%;
        padding: 6px 0;
        border: 2px solid $color-protanomali;
        margin-top: 4%;
        background-color: $color-protanomali-overlay;
        border-radius: 12px;
        color: $color-protanomali;
        cursor: pointer;
      }
      .parentBiodataWrapper {
        width: 90%;
        @include directionY;
        @include content-center;
        .wrapper {
          @include directionY;
          background-color: $color-grey;
          border-radius: 20px;
          margin-top: 4%;
          .title {
            padding-top: 2%;
            margin-bottom: 0;
            font-weight: bold;
            font-size: 20px;
          }
          .mainContent {
            width: 100%;
            @include content-center;
            justify-content: space-between;
            @include directionX;
            .biodataFather {
              width: 40%;
              margin-left: 5%;
              padding: 3% 0;
              .label {
                font-weight: bold;
                color: $color-black;
                margin-bottom: 2px;
                font-size: 14px;
              }
              .name {
                background-color: $color-protanomali;
                color: $color-ultra-white;
                margin-bottom: 15px;
                padding: 1% 2%;
                font-size: 12px;
                border-radius: 5px;
                min-height: 32px;
              }
            }
            .biodataMother {
            width: 40%;
            padding: 3% 0;
            margin-right: 5%;
            .label {
              color: $color-black;
              margin-bottom: 2px;
              font-weight: bold;
              font-size: 14px;
            }
            .name {
              background-color: $color-protanomali;
              color: $color-ultra-white;
              margin-bottom: 15px;
              padding: 1% 2%;
              font-size: 12px;
              border-radius: 5px;
              min-height: 32px;
            }
          }
          }
        }
      }
      .banner {
        width: 100%;
        margin: 5% 0;
        height: 80px;
        display: flex;
        background-color: $color-pink-paw;
          p {
            padding-top: 20px;
            text-align: left;
            font-size: 26px;
            font-weight: bold;
            margin: 0 0 0 10%;
          }
      }
      .testimoniContainer {
        width: 100%;
        .testimoni {
          @include directionY;
          @include content-center;
          width: 90%;
          border-radius: 20px;
          background-color: $color-protanomali;
          .inputData {
            @include directionY;
            .input {
              @include directionY;
              .upper {
                width: 80%;
                @include directionX;
                justify-content: space-around;
                margin-bottom: 3%;
                padding-top: 3%;
                @include content-center;
                .name {
                  @include directionY;
                }
                label {
                  color: $color-ultra-white;
                  padding-bottom: 1%;
                }
                input {
                  border-radius: 10px;
                  padding-left: 3%;
                  background-color: $color-pink-paw;
                }
              }
              .bottom {
                @include content-center;
                width: 60%;
                padding-bottom: 3%;
                .contact {
                  @include directionY;
                  label {
                    color: $color-ultra-white;
                    padding-bottom: 1%;
                  }
                  input {
                    height: 100px;
                    padding-left: 1%;
                    border-radius: 10px;
                    background-color: $color-pink-paw;
                  }
                }
                .btnSend {
                  float: right;
                  background-color: $color-ultra-white;
                  width: 20%;
                  cursor: pointer;
                  padding: 1%;
                  margin-top: 2%;
                  border-radius: 10px;
                  color: $color-protanomali;
                }
              }
            }
          }
        }
      }
    }
  }
}