@import '../../../styles/base';

.container {
  @include directionY;
  overflow-x: hidden;
  @include body;
  .wrapper {
    background-color: $color-ultra-white;
    .body {
      width: 90%;
      @include directionY;
      @include content-center;
      margin-top: 12%;
      .activityInformation {
        .titleWrapper {
          margin: 4% 0 4% 0;
          p {
            margin: 0;
          }
          .title {
            font-size: 26px;
            font-weight: bold;
          }
        }
        .articleWrapper {
          @include directionX;
          flex-wrap: wrap;
          width: 100%;
          gap: 1%;
          .articleCard {
            @include directionY;
            justify-content: space-between;
            text-align: center;
            border: 1px solid $color-protanomali;
            background-color: $color-white;
            width: 30%;
            align-items: center;
            padding: 1%;
            margin: 2% 0;
            .top {
              .img {
                width: 90%;
              }
              .article {
                @include directionY;
                @include content-center;
                justify-content: space-between;
                width: 90%;
                text-align: center;
                .title {
                  font-weight: bold;
                  font-size: 18px;
                }
                .subtitle {
                  font-size: 15px;
                }
              }
            }
            .date {
              font-size: 10px;
              text-align: right;
              width: 100%;
            }
          }
        }
      }
      .achievementInformation {
        .titleWrapper {
          margin: 4% 0 4% 0;
          p {
            margin: 0;
          }
          .title {
            font-size: 26px;
            font-weight: bold;
          }
        }
        .achievementWrapper {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
          width: 100%;
        gap: 1%;
          .achievementCard {
            border: 1px solid $color-protanomali;
            background-color: $color-white;
            @include directionY;
            // max-width: 29.8%;
            height: 400px;  
            margin-bottom: 15%;
            align-items: center;
            padding: 1%;
            .img {
              max-width: 307px;
              // width: 100%;
              margin-top: 5%;
            }
            .achievement {
              width: 90%;
              @include directionY;
              @include content-center;
              min-height: 50%;
              flex-wrap: wrap;
              margin-top: 14px;
              .title {
                text-align: center;
                font-weight: bold;
                font-size: 18px;
              }
              .category {
                text-align: center;
                font-size: 15px;
                margin: 0;
              }
              .level {
                font-size: 10px;
                text-align: center;
                margin: 0;
              }
            }
          }
        }
      }
    }
  }
}
