@import '../../../styles/base';

.container {
  @include directionY;
  overflow-x: hidden;
  @include body;
  .wrapper {
    background-color: $color-ultra-white;
    .body {
      @include directionY;
      @include content-center;
      margin-top: 12%;
      .teacherData {
        width: 90%;
        @include directionY;
        @include content-center;
        margin-bottom: 5%;
        .title {
          font-weight: bold;
          font-size: 22px;
        }
        .teachers {
          @include directionX;
          justify-content: space-around;
          flex-wrap: wrap;
          gap: 4%;
          margin-top: 5%;
          .teacherCard {
            @include directionY;
            align-items: center;
            max-width: 30%;
            align-items: center;
            background-color: $color-pink-paw-opacity;
            border-radius: 20px;
            .position {
              font-weight: bold;
              padding: 6%;
              margin: 0;
            }
            .img {
              max-width: 300px;
            }
            .name {
              font-size: 20px;
              font-weight: bold;
              margin-bottom: 10px;
              margin-top: 6%;
            }
            .data {
              width: 90%;
              margin-top: 0;
              text-align: center;
              font-size: 12px;
            }
          }
        }
      }
      .teacherPonten {
        width: 90%;
        @include directionY;
        @include content-center;
        align-items: center;
        margin-bottom: 5%;
        .title {
          width: 100%;
          font-size: 24px;
          background-color: $color-protanomali;
          color: $color-ultra-white;
          text-align: center;
          border-radius: 20px;
        }
        .pontenContainer {
          @include directionY;
          width: 90%;
          padding: 2%;
          border-radius: 25px;
          height: 400px;
          align-items: center;
          margin: 2% 0 2% 0;
          background-color: $color-pink-paw-opacity;
          overflow-y: scroll;
          overflow-x: hidden;
          &::-webkit-scrollbar {
            width: 4px;
          }
          &::-webkit-scrollbar-thumb {
            background: $color-protanomali;
            border-radius: 20px;
          }
          .pontenWrapper {
            width: 100%;
            padding: 2% 1% 2% 1%;
            .scorer {
              width: 80%;
              @include directionX;
              @include content-center;
              justify-content: space-between;
              gap: 5%;
              padding: 0;
              p {
                margin-bottom: 5px;
                span {
                  background-color: $color-protanomali;
                  color: $color-white;
                  padding: 1px 20px 1px 20px;
                  margin: 0 15px 0 15px;
                  border-radius: 8px;
                }
              }
            }
            .ponten {
              width: 80%;
              @include content-center;
              margin-top: 1%;
              background-color: $color-protanomali;
              color: $color-white;
              border-radius: 10px;
              p {
                margin: 0;
                padding: 2% 1%;
              }
            }
          }
        }
      }
      .scoringContainer {
        @include directionY;
        @include content-center;
        margin-top: 4%;
        width: 70%;
        margin-bottom: 4%;
        .title {
          text-align: center;
          padding: 6px 20px 6px 20px;
          font-weight: bold;
          color: $color-ultra-white;
          background-color: $color-protanomali;
          border-radius: 14px;
          margin-bottom: 2%;
        }
        .scoring {
          @include directionY;
          background-color: $color-protanomali;
          .upperSection {
            width: 80% ;
            @include directionX;
            @include content-center;
            justify-content: space-between;
            .formScorer {
              margin-top: 2%;
              .name {
                color: $color-white;
                p {
                  margin-bottom: 5px;
                }
                input {
                  height: 30px;
                  background-color: $color-pink-paw;
                }
              }
              .contact {
                color: $color-white;
                background-color: $color-protanomali;
                p {
                  margin-bottom: 5px;
                }
                input {
                  height: 30px;
                  background-color: $color-pink-paw;
                }
              }
            }
            .candidatesWrapper {
              p {
                color: $color-white;
              }
              .candidatesScoring {
                margin-top: 10px;
                button {
                  border: none;
                  border-radius: 5px;
                  width: 239px;
                  height: 25px;
                  font-size: 16px;
                  color: $color-protanomali;
                }
                .ul {
                  cursor: pointer;
                  color: $color-protanomali;
                  margin: 0;
                }
                p {
                  text-align: center;
                  padding: 2%;
                  margin: 0;
                  color: $color-protanomali;
                }
                p:hover {
                  margin: 0;
                  background-color: $color-white;
                }
                .select {
                  padding-left: 15px;
                  height: 40px;
                  margin-bottom: 5%;
                  width: 100%;
                  border-radius: 10px;
                  background-color: $color-pink-paw;
                  color: $color-protanomali;
  
                }
              }
            }
          }
          .bottomSection {
            width: 80%;
            @include directionY;
            @include content-center;
            margin-top: 2%;
            .testimonialWrapper {
              color: $color-white;
              font-size: 14px;
              .txtarea {
                padding: 1.5%;
                width: 100%;
                background-color: $color-pink-paw;
                min-height: 140px;
              }
              .buttonWrapper {
                display: flex;
                justify-content: flex-end;
                margin-bottom: 2%;
                .btn {
                  // height: 40px;
                  padding: 0 1%;
                  border-radius: 10px;
                  background-color: $color-ultra-white;
                  color: $color-protanomali;
                  .send {
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
