@import '../../styles/base';

.container {
	@include directionY;
	overflow-x: hidden;
	@include body;
	.wrapper {
		.body {
			@include directionY;
			margin-top: 12%;
			background-color: $color-ultra-white;
			align-items: center;
			.btn {
				width: 24%;
				margin-top: 2%;
				padding: 1%;
				font-weight: bold;
				text-align: center;
				border-radius: 180px;
				background-color: $color-pink-paw;
			}
			.mainBody {
        @include directionY;
        align-items: center;
        width: 70%;
        margin: 5% 0;
        .top {
          @include directionX;
          width: 70%;
          justify-content: space-around;
          align-items: center;
          .left {
            @include directionY;
            align-items: center;
            img {
              width: 150px;
            }
          }
          .right {
            @include directionY;
            align-items: center;
            img {
              width: 150px;
            }
          }
        }
        .bottom {
          @include directionY;
          width: 50%;
          margin-top: 2%;
          align-items: center;
          text-align: center;
          img {
            width: 15%;
          }
        }
			}
			.bodyBottom {
				width: 100%;
				@include directionX;
        justify-content: space-between;
				margin-top: 3%;
				align-items: flex-start;
        margin-bottom: 2%;
        .left {
          @include directionY;
          align-items: center;
          width: 45%;
          .btn {
            width: 50%;
            margin: 2% 0 5% 0;
            padding: 1%;
            font-weight: bold;
            text-align: center;
            border-radius: 180px;
            background-color: $color-pink-paw;
          }
          .testimony {
            background-color: $color-pink-paw;
            border-radius: 25px;
            height: 540px;
            padding: 5%;
            width: 80%;
            overflow-y: scroll;
            &::-webkit-scrollbar {
              width: 4px;
            }
            &::-webkit-scrollbar-thumb {
              background: $color-protanomali;
              border-radius: 20px;
            }
            .testimonyWrapper {
              .name {
                padding: 1% 3%;
                background-color: $color-protanomali;
                color: $color-white;
                width: 50%;
                border-radius: 10px;
              }
              .message {
                margin-top: 2%;
                margin-bottom: 5%;
                padding: 1% 3%;
                background-color: $color-protanomali;
                color: $color-white;
                width: 80%;
                min-height: 70px;
                border-radius: 10px;
              }
            }
          }
        }
        .right {
          @include directionY;
          align-items: center;
          width: 45%;
          .btn {
            width: 50%;
            margin: 2% 0 5% 0;
            padding: 1%;
            font-weight: bold;
            text-align: center;
            border-radius: 180px;
            background-color: $color-pink-paw;
          }
        }
			}
		}
	}
}
