@import '../../styles/base';
// @import "~@coreui/coreui/scss/coreui.scss";

.container {
	@include directionY;
	overflow-x: hidden;
	@include body;
	.wrapper {
		.body {
			@include directionY;
			margin-top: 12%;
			background-color: $color-ultra-white;
			align-items: center;
      padding: 2rem;
      .title {
        margin-bottom: 10px;
      }
			.cardBody {
				width: 80%;
				text-align: center;
			}
		}
	}
}
