@import '../../styles/base';

.container {
  @include directionY;
  overflow-x: hidden;
  @include body;
  background-color: $color-ultra-white;
  .wrapper {
    @include directionY;
    align-items: center;
    .teacherImg {
      margin-top: 17%;
      width: 20%;
    }
    .teacherName {
      width: 24%;
      margin-top: 2%;
      padding: 1%;
      font-weight: bold;
      text-align: center;
      border-radius: 180px;
      color: $color-ultra-white;
      background-color: $color-protanomali;
      font-size: 35px;
    }
    .body {
      width: 100%;
      @include directionY;
      margin: 5% 0;
      .teacherBiodata {
        width: 70%;
        @include directionY;
        @include content-center;
        .wrapper {
          @include directionY;
          background-color: $color-grey;
          border-radius: 20px;
          .title {
            color: $color-protanomali;
            padding-top: 2%;
            margin-bottom: 0;
            font-weight: bold;
            font-size: 30px;
          }
          .mainContent {
            @include content-center;
            @include directionX;
            width: 100%;
            justify-content: space-between;
            .biodataContent {
              width: 90%;
              margin-left: 5%;
              padding: 3% 0;
              .label {
                font-weight: bold;
                color: $color-protanomali;
                margin-bottom: 2px;
                font-size: 25px;
              }
              .name {
                background-color: $color-protanomali-overlay;
                color: $color-black;
                margin-bottom: 15px;
                padding: 1% 2%;
                font-size: 25px;
                border-radius: 5px;
                min-height: 45px;
              }
            }
          }
        }
      }
    }
    .btn {
      background-color: $color-protanomali-overlay;
      padding: 2%;
      border-radius: 180px;
      color: $color-protanomali;
      font-size: 25px;
      margin-bottom: 5%;
      cursor: pointer;
    }
  }
}
